.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
composer.json export-ignore
composer.lock export-ignore
/vendor/composer/installers export-ignore
/vendor/composer/citrus/encoding-converter export-ignore
/install/db/ru/locations.sql export-ignore
README.md export-ignore
.updates export-ignore
.phpdoc export-ignore
example export-ignore
bin export-ignore
tests export-ignore
phpunit.xml export-ignore
